<!-- In views/pages/home.ejs or any other page -->
<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', title="Kitchens | Ornate Wall") %>   
<body>
    <%- include('../components/navbar') %>    
    <%- include('../components/SubHeroSection', title="Kitchen Designs", subtitle="We bring you carefully-curated interior design ideas, to give your home a brand new look.") %>    

    <%- include('../components/ContanctSection') %>    
    <%- include('../components/FeaturesSection') %>      
    <%- include('../components/Footer') %>  
      
    <script src="/scripts/home.js"></script>
</body>
</html>
